
.container {
    max-width: 768px;
}

ul.primary-download {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.primary-download ul {
    list-style-type: none;
}

ul.primary-download li {
    padding-bottom: 5px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}