
main {
    text-align: center;
    width: 320px;
}

.container {
    width: 360px;
}

.action-button {
    flex: 1;
}

.blurb {
    padding-bottom: 40px;
}

.call-to-action {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.contribute {
    padding-top: 50px;
    padding-bottom: 25px;
}

.app-info {
    padding-bottom: 25px;
}


@media only screen and (max-width: 768px) {
    .call-to-action {
        flex-direction: column;
    }

    .primary-button {
        margin-top: 15px;
        margin-left: 0px;
    }
}
