ul:nth-of-type(even) {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul:nth-of-type(even) li {
    padding-bottom: 5px;
}

ul:nth-of-type(odd) {
    padding-left: 0;
    padding-bottom: 1.5rem;
}

ul:nth-of-type(odd) li {
    list-style-position: inside;
}

ul:last-of-type {
    padding-bottom: 2rem;
}

p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    padding-bottom: 1rem;
}

hr {
    border: 0px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
