{% extends "base.html" %}

{% block title %}{{ config.title }}{% endblock title %}

{% block description %}{{ config.description }}{% endblock description %}

{% block css %}
<link rel="stylesheet" href="/assets/css/landing.css">
{% endblock css %}

{% block nav %}
{% endblock nav %}

{% block content %}
<p class="blurb">Kestrel is a command-line file encryption application that lets you encrypt files to anyone with a public key.</p>
<div class="call-to-action">
    <div class="action-button"><a href="/docs/" class="secondary-button">Docs</a></div>
    <div class="action-button"><a href="/releases/" class="primary-button">Download</a></div>
</div>
<div class="contribute">
    <h3>Contributing</h3>
    <p>Kestrel is free and open-source software.</p>
    <p style="padding-top: 10px;">View the <a href="https://github.com/finfet/kestrel">Git Repo</a></p>
</div>
<div class="app-info">
    <h3>Web Application</h3>
    <p><a href="/app/">Try Kestrel</a></p>
</div>
{% endblock content %}
